@tailwind base;
@tailwind components;
@tailwind utilities;

.shape-blob {
	@apply bg-[#43BEE5] h-52 w-52 opacity-70 absolute lg:top-1/2 top-3/4;
	border-radius: 30% 50% 20% 40%;
	left: 70%;
	animation: transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
}

.shape-blob.one {
	@apply bg-[#F40058] h-[30rem] w-[30rem] lg:left-[-150px] left-[-100px] lg:top-[-15px] top-[-50px] rotate-180;
	animation: transform 30s ease-in-out infinite both alternate,
		movement_two 60s ease-in-out infinite both;
}

.shape-blob.two {
	@apply bg-[#41B853] h-96 w-96 lg:left-[500px] left-[-150px] lg:top-[350px] top-[35rem] rotate-180;
	animation: transform 30s ease-in-out infinite both alternate,
		movement_two 60s ease-in-out infinite both;
}

@keyframes transform {
	0%,
	100% {
		border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
	}
	20% {
		border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
	}
	40% {
		border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
	}
	60% {
		border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
	}
	80% {
		border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
	}
}

@keyframes movement_one {
	0%,
	100% {
		transform: none;
	}
	50% {
		transform: translate(50%, 20%) rotateY(10deg) scale(1.2);
	}
}

@keyframes movement_two {
	0%,
	500% {
		transform: none;
	}
	50% {
		transform: translate(50%, 20%) rotate(-200deg) scale(1.2);
	}
}
